@{
    ViewData["Title"] = "Tienda de Instrumentos Musicales";
}

<div class="container">
    <div class="row">
        <div class="col text-center">
            <h1 class="display-4">Bienvenido a nuestro gestor de Instrumentos Musicales</h1>
            <p>Gestiona tu tienda de instrumentos musicales de la manera más simple y cómoda</p>
        </div>
    </div>

    <div class="row mt-5">
        <div class="col-md-4">
            <div class="card">
                <img src="https://via.placeholder.com/300" class="card-img-top" alt="Guitarra">
                <div class="card-body">
                    <h5 class="card-title">Guitarra Acústica</h5>
                    <p class="card-text">Descubre nuestra colección de guitarras acústicas de alta calidad.</p>
                    <a href="#" class="btn btn-primary">Ver más</a>
                </div>
            </div>
        </div>
        <div class="col-md-4">
            <div class="card">
                <img src="https://via.placeholder.com/300" class="card-img-top" alt="Piano">
                <div class="card-body">
                    <h5 class="card-title">Piano Digital</h5>
                    <p class="card-text">Explora nuestra gama de pianos digitales para todas las habilidades.</p>
                    <a href="#" class="btn btn-primary">Ver más</a>
                </div>
            </div>
        </div>
        <div class="col-md-4">
            <div class="card">
                <img src="https://via.placeholder.com/300" class="card-img-top" alt="Batería">
                <div class="card-body">
                    <h5 class="card-title">Batería Completa</h5>
                    <p class="card-text">Elige entre nuestra variedad de baterías para principiantes y profesionales.</p>
                    <a href="#" class="btn btn-primary">Ver más</a>
                </div>
            </div>
        </div>
    </div>
</div>
